.container>div{
    padding:10px;
    text-align: center;
    font-size: 2em;
    color:#ffeead;

}
html,body{
    background: #ffeead;
    margin 10px;

}

.container>div:nth-child(1){
    background-color:#96ceb4;
} 
.container>div:nth-child(2){
    background-color:#ff6f69;
} 
.container>div:nth-child(3){
    background-color:#88d8b0;
} 

.search{
    margin-left: auto
}
body{
background-image: url('logo.jpg')
}

.div1{background: red;
        width:300px;
        height: 100px;
        top: 10px;
        left: 80px;
         position:relative;
          z-index: 2;
}
.div2{
    background: yellow;
        width:300px;
        height: 100px;
        top: -60px;
        left: 35px;
         position:relative;
          z-index: 1;
}



.div3{background: green;
        width:300px;
        height: 100px;
        top: -220px;
        left: 120px;
         position:relative;
            z-index: 3;}